ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}

/* header */

header {
  display: flex;
}

.logo-color {
  color: #2196f3;
}

.header-logo {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 12px;
  margin-left: 100px;
  margin-right: 0px;
}

.header-listgolo {
  display: flex;
  text-align: center;
  margin-left: 93px;
  margin-top: 12px;
}

.header-link1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 55px;
}

.header-link1:hover {
  color: #2196f3;
}

.header-link2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 55px;
}

.header-link2:hover {
  color: #2196f3;
}

.header-link3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 55px;
}

.header-link3:hover {
  color: #2196f3;
}

/* contakts */

.contakts-list {
  display: flex;
  text-align: center;
  margin-top: 12px;
}

.contakts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 245px;
  margin-right: 50px;
}

.contakts-link:hover {
  color: #2196f3;
}

.contakts-linkk {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 0px;
  margin-right: 0px;
}

.contakts-linkk:hover {
  color: #2196f3;
}

/* main buttons */

.buttons-list {
  display: flex;
  text-align: center;
  margin-top: 84px;
}

.main-button1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 450px;
  margin-right: 8px;
}

.main-button2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 0px;
  margin-right: 8px;
}

.main-button3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 0px;
  margin-right: 8px;
}

.main-button4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 0px;
  margin-right: 8px;
}

.main-button5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 0px;
  margin-right: 416px;
}

/* pictures */

.pictures-list {
  display: flex;
  text-align: center;
  margin-top: 34px;
  flex-wrap: wrap;
  margin-left: 115px;
}

/* footer */

.footer-section2 {
  background-color: #2f303a;
}

.footer-logo2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 12px;
  margin-left: 100px;
  margin-right: 0px;
}

.foologo-color {
  color: #2196f3;
}

.footer-address2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 12px;
}

.footer-link2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 12px;
}

.footer-links {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 20px;
}
