/* contakts */

.contakts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contakts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: 270ms;
}

.contakts-link:hover {
  color: #2196f3;
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}

.contakts-svg {
  margin-right: 5px;
  fill: currentColor;
}

/* main buttons */

.buttons-list {
  display: flex;
  text-align: center;
  margin-top: 84px;
  padding-left: 350px;
}

.buttons-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 10px;
  transition: 270ms;
}

.main-button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 4px;
  border: none;
  transition: 290ms;
}

.main-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}

/* pictures */

.pictures-section {
  padding-bottom: 94px;
}

.pictures-list {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  flex-wrap: wrap;
  gap: 30px;
}

.pictures-item {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.pictures-item:last-child {
  margin-right: 0px;
}

.pictures-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
}

.pictures-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  color: #757575;
}

/* footer */

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 12px;
  margin-right: 0px;
}

.foologo-color {
  color: #2196f3;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 0px;
  margin-top: 12px;
}

.footer-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
}

.footer-link2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}
