ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

p,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}

.container {
  border: 1px solid #d31d05;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.logo-color {
  color: #2196f3;
}

header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-logo {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  display: flex;
  text-align: center;
  margin-left: 15px;
}

.header-pages {
  display: flex;
  text-align: center;
  margin-left: 93px;
  align-items: center;
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 55px;
  font-family: 'Roboto';
  transition: 270ms;
}

.header-page:hover {
  color: #2196f3;
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}

/* contakts */

.contakts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contakts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: 270ms;
}

.contakts-link:hover {
  color: #2196f3;
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}

.contakts-svg {
  margin-right: 5px;
  fill: currentColor;
}

/* section hero */

.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/backgroundImg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
}

/* your benefits */

.benefits-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefitsname-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.benefits-item::before {
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
  background-image: url(../img/SVG/antenna1.svg);
}

.benefits-item:nth-child(3)::before {
  background-image: url(../img/SVG/diagram1.svg);
}

.benefits-item:nth-child(2)::before {
  background-image: url(../img/SVG/clock2.svg);
}

.benefits-item:nth-child(4)::before {
  background-image: url(../img/SVG/astronaut1.svg);
}

/* What do we do? */

.do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  text-align: center;
  margin-left: 430px;
  margin-right: 350px;
  margin-bottom: 50px;
}

.do-list {
  display: flex;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 94px;
  margin-left: 50px;
  gap: 30px;
}

/* Our team */

.team-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  margin-right: 30px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  font-family: 'Roboto';
  margin-top: 30px;
}

.team-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
  font-family: 'Roboto';
  margin-top: 10px;
  margin-bottom: 30px;
}

.team-svg {
  margin-left: 32px;
  margin-bottom: 42px;
}

.team-svg:hover {
  background-color: #2196f3;
}

/* regular-customers

.customers-section {
  padding-top: 94px;
}

.customers-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;
} */

/* .customers-svg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  margin-left: 20px;
  margin-bottom: 94px;
} */

/* .customers-svg:hover {
  color: #2196f3;
} */

/* Footer */

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-color {
  color: #2196f3;
}

.footer-logo {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  text-align: center;
  margin-right: 0px;
  margin-top: 12px;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 0px;
  margin-top: 12px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0px;
  margin-top: 12px;
}

.footer-link2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 0px;
  margin-top: 20px;
}
