.clients__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
}

.clients__svg {
  width: 170px;
  height: 92px;
  fill: #757575;
}

.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 94px;
}
.client__svg-color:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
