/* contakts */

.contakts-list {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contakts-link {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
    transition: 270ms;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
    transition: 270ms;
    display: flex;
    align-items: center;
  }
}

.contakts-link:hover {
  color: #2196f3;
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}

// .contakts-svg:hover {
//   color: #2196f3;
//   transform: cubic-bezier(0.16, 0.49, 1, -0.55);
// }

.contakts-svg {
  fill: currentColor;
  margin-right: 10px;
}
