/* What do we do? */

.do-title {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: flex;
    text-align: center;
    margin-left: 430px;
    margin-right: 350px;
    margin-bottom: 50px;
  }
}

.do-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 94px;
    margin-left: 50px;
    gap: 30px;
  }
}
