/* header */

.hero-section {
}

.logo-color {
  color: #2196f3;
}

header .container {
  display: flex;
  align-items: center;
  height: 80px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.header-logo {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  display: flex;
  text-align: center;
  margin-left: 15px;

  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.header-pages {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    margin-left: 93px;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    margin-left: 93px;
    align-items: center;
  }
}

.header-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 55px;
  font-family: 'Roboto';
  transition: 270ms;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.header-page:hover {
  color: #2196f3;
  transform: cubic-bezier(0.16, 0.49, 1, -0.55);
}
