/* section hero */

.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero-desktop@1x.jpg);

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
  }
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  margin-left: 140px;
  margin-right: 140px;
  border: none;

  @media screen and (min-width: 768px) {
    margin-left: 284px;
    margin-right: 284px;
    border: none;
  }

  @media screen and (min-width: 1200px) {
    background-color: #2196f3;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    margin: 0 auto;
  }
}
