
/* pictures */

.pictures-section {
    padding-bottom: 94px;
  }
  
  .pictures-list {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .pictures-item {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
  }
  
  .pictures-item:last-child {
    margin-right: 0px;
  }
  
  .pictures-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .pictures-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
    color: #757575;
  }