$pictures-text: #757575;
$footer-color: #2196f3;
$footer: background-color #2f303a;
$footer-logo: #ffffff;
$footer-address: #ffffff;
$footer-link: rgba(255, 255, 255, 0.6);
$main-button: background-color #2196f3, #ffffff;
$pictures-item: background-color #ffffff, border 1px solid #eeeeee;
$pictures-text: #757575;
$benefits-text: #757575;
$contakts-link: #757575;
$do-title: #212121;
$logo-color: #2196f3;
$header-logo: #000000;
$header-page: #000000;
$hero-title: #ffffff;
$hero-button: #ffffff, background-color #2196f3;
$team-section: background-color #f5f4fa;
$team-title: #212121;
$team-item: border 1px solid #eeeeee;
$background-color: #ffffff; 
$team-name: #212121;
$team-text: #757575;