$pictures-text: color #757575;
$footer-color: color #2196f3;
$footer: background-color #2f303a;
$footer-logo: color #ffffff;
$footer-address: color #ffffff;
$footer-link: color rgba(255, 255, 255, 0.6);
$main-button: background-color #2196f3, color #ffffff;
$pictures-item: background-color #ffffff, border 1px solid #eeeeee;
$pictures-text: color #757575;
$benefits-text: color #757575;
$contakts-link: color #757575;
$do-title: color #212121;
$logo-color: color #2196f3;
$header-logo: color #000000;
$header-page: color #000000;
$hero-title: color #ffffff;
$hero-button: color #ffffff, background-color #2196f3;
$team-section: background-color #f5f4fa;
$team-title: color #212121;
$team-item: background-color #ffffff, border 1px solid #eeeeee;
$team-name: color #212121;
$team-text: color #757575;